body{
    background: #17023e;
}

h2{
      color: #f2ea00;
      font-family: "Arimo", sans-serif; 
      font-size: 28px;
    
}
h3{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 9px;
    color: #ffffff;

}

h4{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 9px;
    color: #ffffff;
    line-height: 0px;
    
}

h5{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 9px;
    color: #ffffff;

  
    
}
p{
    font-family: "Noto Sans JP", sans-serif;
    color: #bd00b7;
    font-size: 16px;

}

span{
    font-family: "Arimo", sans-serif; 
    color: #ff0000;
    font-weight: 400;
    font-size: 28px;
    line-height: 3px;
}